body {
  margin: 0;
  padding: 0;
  color: green;
  font-family: 'Gill Sans', 'sans-serif';
}

h1 {
  font-size: 75px;
  text-transform: uppercase;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

/* accounts for the border and padding within the height and width of every element */
* {
  box-sizing: border-box;
}

#board {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box:hover {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
  border-color: green;
  font-size: 18px;
  transition: 200ms transform;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
